* {
    background-color: grey;
    margin: 3px;
    overflow: hidden;
   
}

.scores {
    display: flex;
    
    justify-content: space-between;
    font-size: 16px;
    
}

.card-board {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 7px;
    padding-bottom: 7px;
}

.card-image {
    width: 200px;
    height: 275px;
    border-radius: 9px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out; 
    margin: 10px;
    border: 1px solid black;
    border-radius: 9px;
    background-color: white;
}

.card:hover {
    border-color: aqua;
    transform: scale(1.1); 
}

.name {
    background-color: white;
}
